/** SN modifications **/
/* (2-col page) */
body#social #content {width: 758px;}
body#social #content_wrapper {border-right: none;}
body#social #aside_primary {display: none;}
body#social #aside_primary_wrapper {background-color: transparent;}
/* Hide new notice input */
body#social .input_forms {display: none;}
/* Notices */
body#social .notice .entry-title {margin: 2px 7px 0 59px; min-height: 35px;}
body#social .notice .author .photo {display: inline; float: none; left: 0; margin-right: 11px; position: absolute; top: 7px;}

/* Summary */
body#social .sa-summary {clear: both; overflow: hidden;}
body#social .sa-summary p, body#social .sa-summary ul {list-style-type: none; margin: 0; padding: 0;}
body#social .sa-summary li {width: 40%; margin-right: 10px; float: left; border: 1px solid #CCC; border-radius: 10px; min-height: 31px; padding: 5px 5px 5px 45px; margin-bottom: 10px;}
body#social .sa-summary .sa-posts {background: url(../images/comment.png) no-repeat 5px 5px;}
body#social .sa-summary .sa-replies {background: url(../images/quote.png) no-repeat 5px 5px;}
body#social .sa-summary .sa-favs {background: url(../images/heart.png) no-repeat 5px 5px;}
body#social .sa-summary .sa-bookmarks {background: url(../images/book.png) no-repeat 5px 5px;}
body#social .sa-summary .sa-follow {background: url(../images/user.png) no-repeat 5px 5px;}

/* Data tables */
body#social .sa-table caption {display: none;}
body#social .sa-table {width: 100%;}
body#social .sa-table, .sa-table th, .sa-table td {border: 1px solid #333;}
body#social .sa-table th, .sa-table td {padding: 3px;}
body#social .sa-table td {text-align: right;}

/* td details */
body#social .ui-dialog ul {list-style-type: none; text-align: left;}
body#social .ui-dialog ul li {border-bottom: 1px solid #CCC; padding: 3px 0;}
body#social .sa-table td ul {display: none;}
body#social .sa-table td a {font-weight: bold;}
body#social .sa-processing {background: url(../images/icon_processing.gif) no-repeat center center; width: 100%; height: 16px;}

/* Date picker */
body#social .sa-picker {background-color: #FFF; display: none; position: absolute; top: 100%; left: 0; text-align: left; border: 1px solid #000; border-radius: 5px; padding: 10px; margin-top: 5px; z-index: 999;}
body#social .sa-picker label {display: block;}
body#social .sa-nav-b .sa-picker {bottom: 100%; top: auto;}
body#social #sa-date-s, body#social #sa-date-e {margin-bottom: 5px;}
body#social #sa-submit {margin: 5px auto 0 auto; display: block;}
body#social .ui-datepicker-trigger {margin-left: 5px;}

/* Date Navitation */
body#social .sa-nav {margin-bottom: 5px; padding: 0; list-style-type: none; height: 22px;}
body#social .sa-nav .sa-prev {float: left; width: 33%;}
body#social .sa-nav .sa-cust {float: left; text-align: center; width: 33%; position: relative;}
body#social .sa-nav .sa-next {float: right; text-align: right; width: 33%;}
body#social .sa-nav a {background-image: url(/theme/base/images/icons/icons-01.gif); background-repeat: no-repeat; padding-top: 9px;}
body#social .sa-nav .sa-next a {background-position: 114% -253px; padding-right: 25px;}
body#social .sa-nav .sa-cust a {background: none;}
body#social .sa-nav .sa-prev a {background-position: 0 -188px; padding-left: 25px;}

/* JS Switcher */
#sa-js-switch {float: right; margin: 10px 0 0 0;}

/* Map */
body#social #sa-map {height: 300px; margin: 0 30px 12px 30px !important; width: 700px;}
body#social div.olControlAttribution {bottom: 0;}

/** CSS for JS backends **/
/* Visualize */
body#social .sa-vis .visualize-labels-x {display: none;}
body#social .sa-vis .visualize {margin: 0 30px 10px 30px; padding: 0;}
body#social .sa-vis .visualize-info div.visualize-title {display: none;}
body#social .sa-vis div.sa-graph ul.visualize-key li {float: none;}
body#social .sa-vis div.sa-trends-graph ul.visualize-key li {float: left;}
body#social .sa-vis div.sa-trends-graph ul.visualize-key {width: 100%;}
body#social .sa-vis div.visualize-pie ul.visualize-labels {top: 2px; left: 7px;}

/* flotr2 & highcharts */
body#social .sa-flotr2 .sa-wrap, body#social .sa-hcharts .sa-wrap {float: left; margin-right: 10px;}
body#social .sa-flotr2 .sa-graph, body#social .sa-hcharts .sa-graph {width: 350px; height: 300px;}
body#social .sa-flotr2 .sa-trends-graph, body#social .sa-hcharts .sa-trends-graph {width: 758px; float: none;}
body#social .sa-flotr2 .sa-nav-b, body#social .sa-hcharts .sa-nav-b {padding-top: 10px; clear: both;}
body#social .sa-flotr2 .sa-left, body#social .sa-hcharts .sa-left {clear: left;}
body#social .sa-flotr2 .sa-map-wrap, body#social .sa-hcharts .sa-map-wrap {clear: left;}

/* JS disabled */
body#social .sa-map-wrap, body#social .sa-toggle, body#social #sa-js-switch {display: none;}
body#social .sa-picker {display: block; position: static;}
body#social .sa-table {display: table;}

/* JS enabled */
body#social .sa-js .sa-toggle {display: inline;}
body#social .sa-js .sa-map-wrap, body#social .sa-js #sa-js-switch {display: block;}
body#social .sa-js .sa-picker, body#social .sa-js .sa-table {display: none;}
body#social .sa-js .sa-picker {position: absolute;}
